

.calendar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: inherit;
  height: inherit;

  table {
    border-collapse: collapse;
    tbody {
      tr {
        td {
          &:hover {
            background-color: #e6e6e6;
            cursor: pointer;
          }
        }
        td, th {
          margin: 5px;
          border: 1px solid black;
          padding: 3px;
          text-align: center;
        }
  
        th {
          font-weight: bold;
          background-color: #e6e6e6;
        }
  
        .faded {
          color: #506d85;
        }

        .active {
          color: aqua;
        }
      }
    }
  }

  .yearMonth{
    display: flex;
    margin-bottom: 10px;
    label {
      display: block;
      margin-right: 10px;
      span{
        margin-right: 5px;
      }
      select{
        padding: 8px;
      }
    }
  }
}