@use '../../commonStyles/variables' as v;

.content {
  margin: 20px 10%;
  .headerText {
    font-size: 48px;
    font-weight: 700;
    color: v.$headerColor;
    margin-bottom: 10px;
  }

  .tabs {
    span {
      display: inline-block;
      padding: 10px 20px;
      color: v.$textColor;
      cursor: pointer;

      &.active {
        color: v.$activeColor;
        border-bottom: 5px solid v.$activeColor;
      }
    }
  }
}

.view {
  display: flex;
  align-items: center;
  cursor: pointer;

  color: v.$textColor;
  img {
    width: 30px;
    display: inline-block;
    margin-right: 10px;
  }
  span {
    white-space: nowrap;
  }
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
  .view:before {
    content: "VIEW";
    text-align: left;
    align-self: center;
    color: #556789;
    margin-right: 10px;
    min-width: 100px;
  }
  img {
    width: 30px;
  }

  .content {
    .headerText {
      font-size: 35px;
    }

    .tabs {
      display: flex;
      flex-direction: column;
      max-width: max-content;
      span {
        padding: 5px 10px;
        &.active {
          border-bottom: 2px solid v.$activeColor;
        }
      }
    }
  }
}