.header {
  padding: 15px;
  background: #1F2640;
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    margin-left: 10%;
    width: 10%;
  }

  select {
    margin-right: 10%;
    padding: 10px;
    font-size: 15px;
  }

  @media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
    img {
      width: 40%;
    }
  }
}