@use '../../commonStyles/variables' as v;

.campEle {
  display: flex;
  align-items: center;

  .campImg {
    img {
      width: 50px;
    }
    margin-right: 10px;
  }
  .content {
    display: flex;
    flex-direction: column;

    .name {
      font-size: large;
      font-weight: 400;
      margin-bottom: 10px;
      color: v.$textColor;
    }
    .region {
      font-size: small;
      font-style: italic;
      font-weight: 300;
      color: v.$LtextColor;
    }
  }

  @media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
    &:before {
      content: "CAMPAIGN";
      text-align: left;
      align-self: center;
      color: #556789;
      margin-right: 10px;
      min-width: 100px;
    }
    .campImg {
      img {
        width: 40px;
      }
    }
  }
}